
SELECT 
    event_object_table AS table_name,
    trigger_name,
    event_manipulation AS event,
    action_statement AS definition
FROM information_schema.triggers
WHERE event_object_table IN ('sales_orders', 'sales_order_items')
ORDER BY event_object_table, event_manipulation;

